/* 单行文本框、密码框的样式1 */
.txt1 {    /* 类选择器 */
	font-size:16px;				/* 文字大小 */
	font-family:华文新魏;		 /* 文字的字体类型 */
	text-decoration:underline;	 /* 文字修饰 */
	color:green;				/* 文字颜色 */
	font-style:italic;			 /* 设置斜体 */
	font-weight:800;			 /* 字的粗细 */
	border:3px dotted green;	/* 边框 */
	margin:3px;					 /* 与其它控件的距离 */	
	height: 26px;				 /* 高度 */
}

/* 单行文本框、密码框的样式2 */
.txt2 {    /* 类选择器 */
	padding:3px;				 /* 内边距（文字和边框的距离）*/
	font-size:10px;				 /* 文字大小 */
	font-family:宋体;		     /* 字体类型 */
	color:green;				/* 文字颜色 */
	font-weight:900;			 /* 文字的粗细 */
	border:2px dashed green;	/* 边框（粗细 线型 颜色）*/
	border-radius: 20px;			  /* 边框为圆角形状 */
}

/* 按钮的样式1 */
.btn1 {    /* 类选择器 */
	padding:3px;				 /* 内边距（文字和边框的距离） */
	font-size:16px;				 /* 字体大小 */
	letter-spacing:20px;		 /* 字符的间距 */
	color:green;				/* 文字的颜色 */
	font-style:italic;			 /* 设置斜体 */
	font-weight:600;			 /* 字的粗细 */
	background-color:yellow;	/* 背景色 */
	border: 3px dashed green;	/* 边框 */
	margin:6px;					 /* 外边距（与其它控件的距离） */
	cursor:grab;				 /* 光标形状 */
}

/* 按钮的样式2 */
.btn2 {
    border-top: 5px solid #009F95;  /* 上边框的样式 */
    width: 90px;					  /* 宽度 */
    height: 40px;					  /* 高度 */
    text-align: center;				  /* 文字对齐方式 */
    font-size: 16px; 				  /* 字体大小 */
    font-family:楷体;				  /* 字体类型 */
    color:  #009F95;				 /* 文字的颜色 */
    border-radius: 20px;			  /* 边框为圆角形状 */
	font-weight:800;			      /* 字的粗细 */
}

/* 背景图片 */
.bg {
	background: url(../images/sweet.jpg);	/* 背景图片 */
	background-repeat: no-repeat; 			/* 背景图片不重复 */
    background-attachment:fixed;			/* 背景图片固定 */
    background-position: center;			/* 背景图片位置 */
    background-size: cover;					/* 背景图片大小 */
}